body {
  background-color: #B5D5C5;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #ADA2FF;
  border-width: 5px;
  width: 10%;
}
h1 {
  color: #630606;
}
h3 {
  color: #630606;
  font-style: oblique;
}
.profile{
  border-radius: 50%; 
}
